{% extends 'base.html.twig' %}

{% block body %}
    <h1>Producttypefield</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productTypeField.id }}</td>
            </tr>
            <tr>
                <th>Producttypeid</th>
                <td>{{ productTypeField.productTypeId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productTypeField.name }}</td>
            </tr>
        </tbody>
    </table>
<div class="button_place">

            <a class="btn btn-success" href="{{ path('producttypefields_index') }}">Back to the list</a>

            <a class="btn btn-warning" href="{{ path('producttypefields_edit', { 'id': productTypeField.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

</div>
    {% endblock %}
